{% include '_head.twig' %}

{% include '_menu.twig' %}


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ paths.theme }}img/{{ theme.homebg }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ app.config.get('general/sitename') }}</h1>
                        <hr class="small">
                        {% if app.config.get('general/payoff') %}
                        <span class="subheading">{{ app.config.get('general/payoff') }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               

            {% setcontent records = "entries/latest/6" allowpaging %}
                {% for record in records %}


               <div class="post-preview">
                    <a href="{{ record.link }}">
                        <h2 class="post-title">
                            {{ record.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ record.teaser|excerpt(100) }}
                        </h3>
                    </a>
                    <p class="post-meta">{% include '_recordfooter.twig' with {record: record} %}</p>
                </div>
                <hr>
               
                {% endfor %}

                <!-- Pager -->
                {{ pager() }}


            </div>
        </div>
    </div>

    <hr>

 {% include '_footer.twig' %}

